In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.random.randint(0, 9, size=(3, 4))
data

array([[3, 1, 8, 6],
       [8, 4, 4, 0],
       [7, 6, 0, 0]])

In [3]:
df = pd.DataFrame(data, columns=['a', 'b', 'c', 'd'])
df

   a  b  c  d
0  3  1  8  6
1  8  4  4  0
2  7  6  0  0

In [4]:
df['E']=''

def col_E(group):
    for i, row in group.iterrows():
        df['E'].loc[i] = sorted([row['a'],row['b'],row['c'],row['d']])
        

df.groupby(['a']).apply(col_E)
df

   a  b  c  d             E
0  3  1  8  6  [1, 3, 6, 8]
1  8  4  4  0  [0, 4, 4, 8]
2  7  6  0  0  [0, 0, 6, 7]